#containerPrecios{
    background: linear-gradient(180deg,#00000000, #070707 );
}
h3{
    margin-top: .6em;
    text-align: center;
    color: #ffffffe5;
    font-weight: bold;
    font-size: 2.3em;
}
h3:hover{
    color: #fff;
}
.card{
    margin-top: 3em;
    background-color: #41383849;
    color: #fff;
    max-height: 50%;
}
.card-header{
    background-color: #ffffff3f;
    border: solid 1px #ccc;
}

.card-body{
    /* background-color: #1a1919;
     */
    background: linear-gradient(180deg,#222121, #070707 );

    color: #fff;
}

.card-text{
    color: #fff;
}   

.card-footer{
    background-color: #ffffff3f;
    border-top: solid 1px #ccc;
    color: #fff;
}



#btn-what{
    color: #ffffff;
    text-decoration: none;
}

#btn-what li:hover{
    color: rgb(87, 111, 231);
    
}

#btn-correo{
    color: #ffffff;
    text-decoration: none;
}

#btn-correo li:hover{
    color: rgb(87, 111, 231);
    
}

p span{
    color: #ffffff;
    font-weight: bold;
}

p{
    color: #ffffffd5;
}

#plazo{
    font-weight: bold;
    color: #ffffff;
}