#services{
    text-align: center;
    max-width: 80%;
    text-wrap: wrap;
}

h1{
    color: #fff;
}

ul p {
    color: #ffffffde;
    font-weight: bold;
}

#solutions{
    margin-top: 2em;
    color: #ffffff96;
}
ul{
    margin-top: 2em;
    list-style: none;
}

.li{
    text-align: center;
    margin-right: 2em;
}

.li:hover{
    color: #ffffff;
    scale: none;
}
 

#rowButtons{
    /* background-color: red; */
    max-width: 50%;
    margin-left: 25%;
    height: auto;
}

#buttons button{
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    
}

#moreInfo{
    text-wrap: wrap;
    background-color: #47426d;
    color: #ffffff;
    padding: 12px 25px;
    margin: 13px 0 0 0;
    border-radius: 12px;
    border: none;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s, transform 0.3s ease;
}

#moreInfo:hover {
    background-color: #4e4bff; 
    transform: translateY(-3px);  
}

.button:active {
    transform: translateY(0);  
}

span{
    color: #fff;
}

.btn {
    margin-bottom: 2.5em;
}


@media(max-width: 520px){
    #services{
        max-width: 100%;
    }
}