

#rowTodo{
    background: linear-gradient(180deg,#00000000, #070707 );
    padding: 5cqi 20px;
    color: #333;
}
#tituloContratar{
    margin-top: -.5em;
    color: #fff;
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    width: 100%;
}

#subTituloContratar{
    color: #fff;
    font-size: 1.7em;
}

p{
    color: #ffffffb5;
}

img{
    margin-bottom: 2.5em;
   
}

@media(max-width: 520px){
    #tituloContratar{
        font-size: 1.8em;
        
    }
    #subTituloContratar{
        font-size: 1.3em;
        
    }
}