header{
    margin-top: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.links{
    text-decoration: none;
    color: #ffffffbe;
}

header ul li {
    margin-right: 1.5em;
    color: rgb(179, 179, 179);
}

header ul {
    list-style-type: none;
    text-align: center;
    border: 2px solid #25D366;
    border-radius: 15px;
    margin-top: 1.2em;
    
}

li:hover{
    scale: 1.2;
    transition: all 0.3s ease;
}

.links:hover{
    scale: 1.2;
    transition: all 0.3s ease;
    color: #fff;
}