header{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul a {
    text-decoration: none;
    margin-right: 1em;
    color: rgb(128, 128, 248);
    
}

header ul {
    list-style-type: none;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-top: 1.2em;
}

a:hover{
    color: #fff;
}